.rec-friend-req-container {
    margin-bottom: 20px;

}


.rec-friend-cancel-btn{
    width: max-content;
    cursor: pointer;
}

.friendRequest {
    height: 50px;
}

.friend-buttons:disabled{
    cursor: default;
}

.friend-button-loader {
    width: 16px;
    height: 16px;
    border: 2px solid #FFF;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    margin-left: 10px;
}

.friend-request-loader {
    width: 16px;
    height: 16px;
    border: 2px solid #000;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    margin-left: 10px;
}

/* .unfriend-button:disabled {
    cursor: default;
} */

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}