.imagePost {
    max-width: 650px;
    max-height: 700px;
    object-fit: contain;
    border-radius: 25px;
}

.post-list{
    display: grid;
    justify-content: center;
    align-items: left;
}

.post-description{
    margin-top: 20px;
    font-weight: bold;
    font-size: medium;
    padding-bottom: 20px;
    
}

.post {
    margin-bottom: 75px;
    border-radius: 20px;
    cursor: pointer;
    padding-top: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.post:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.ingredients-header,
.instructions-header {
    margin-top: 20px;
    padding-top: 30px;
    margin-bottom: 30px;
}

.instructions {
    padding-bottom: 50px;
}

.postTop h2{
    display: inline;
}

.recipePostEditBtn{
    margin: 8px;
}