
.profile-page {
    position: relative;
    max-width: 730px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 100px;
}

.bioProfileName{
    text-align: justify;
    font-size: 30px;
    color: black;
    margin-right: 15%;
}

.bioProfilePic {
    width: 15%;
    height: 15%;
    margin-right: 12%;
}

.profilePosts{
    position:relative
}

.rec-friend-req-container{
    margin-bottom: 20px;

}

.rec-friend-req-btn{
    cursor: pointer;
}

.rec-friend-req-btn:hover {
    cursor: pointer;
    color: blue !important;
}
