.home-page {
    max-width: 730px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 100px;

}

.new-post-btn {
    margin-bottom: 50px;
    position: relative;
    left: 16px;
    font-size: 25px !important;
    padding: 20px 40px 20px 40px !important;
    border-width: 2px !important;
}

.newPostCont {
    margin-bottom: 5%;
}
.loading-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .loading-spinner {
    font-size: 6rem;
    margin-top: 1rem;
    animation: spin 1s linear infinite;
  }

  .filterbox{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }
  a.filter-btn {
    display: block;
    text-align: center;
    line-height: 30px;
    width: 70px;
    margin-left: 10px; 
    margin-right: 10px; 
    text-decoration: none; 
    font-size: 0.8rem;
    background: -webkit-linear-gradient(top, #ffffff 0%, #ebedee 100%);
    background: linear-gradient(to bottom, #ffffff 0%, #ebedee 100%);
    color: #000000;
    border-radius: 10px;
    -webkit-box-shadow: 0 3px 3px rgba(255, 255, 255, 0.197);
    box-shadow: 0 2px 3px rgba(0, 0, 0, .2);
  }
  
  
  a.filter-btn:hover {
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .3);
    box-shadow: 0 2px 7px rgba(0, 0, 0, .3);
  }
  
  
  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
  